<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="https://www.google.kz/" method="GET"> 
        <div id="registration">
            <p id="text">Please, enter your data</p>
        <input type="text" name="Name" id="" placeholder="Имя">
        <br>
        <input type="checkbox" name="Boy" id="">Мальчик
        <br>
        <input type="checkbox" name="Girl" id="">Девочка
        <br>
        <button type="submit">Принять</button>
        </div>
    </form>
</body>
</html>